
@{
    ViewBag.Title = "Sale Request Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sale Request Sent</h2>

<h4>Your sale request was successfully sent. Check 'My Transactions' regularly for a response.</h4>

