
<div class="col-sm-7">
    <div class="row">
        <div class="col col-sm-12">

            @{
                ViewBag.Title = "About";
            }
            <h2>The grikwa team</h2>



            <p align="justify">
                
                Grikwa was founded and developed by <strong>Julian Nkuna (21), Masilo Mapaila (20), Martin Nkala(21) </strong>and<strong>
                Majuba Ngoyama(21)</strong> as an online solution to the day to day problem of archaic methods of buying
                and selling useful  items in a learning institution.  Grikwa distinguishes itself from other online
                stores in its emphasis on safe, exclusive and relevant trade between people who are in the same
                institutions.
            </p>

            <h2>Our Story</h2>

            <p align="justify">
                Grikwa is the result of a group of students who were annoyed by some of the archaic systems (noticeboards)
                used in a first class university to buy and sell items. As with most web development sites, Grikwa has
                a story of how and why it came to be.  So basically, during the O-Week of 2013, as with any other O-week,
                I noticed that a lot of students were mobilizing to get their used text books sold or to find a second
                hand text book to buy. The method is quite standard with most university students; take a picture of the
                book, create a plain black and white poster with the price and a phone number, place the poster on a few
                noticeboards around campus and hope that somebody calls. This method usually works if done right, and one
                can make some money using it. The problem is that this method is tedious, slow and requires some form of
                financial and physical effort from your part. It became apparent to me with the disgusting amounts of
                posters on the noticeboards that students needed a reliable platform for trade within the institution.
                This became even more apparent later on in the year, usually during the end of a semester, when students
                sell items which they will not have use for in the future. These involve fridges, microwaves, laptops and
                other valuables other student may find useful.
            </p>

            <p align ="justify">
                In May 2013, I met up with one of my computer science friends and told him that I wanted us to create an
                online noticeboard for students to trade without the hassle of archaic noticeboard advertising. Martin
                was keen and made me aware that this would be a rather big project for students and would require us to
                hire a few more programmers. We then approached Masilo, who was triple majoring in mathematics,
                Computer Science and Game development and one more programmer from UCT who left prematurely due to family
                reasons.
                </p>

                <h2>Building the product</h2>

            <p align="justify">
                
                With a limited programming history, it was initially difficult communicating to programmers what I saw
                in my mind when I imagined the final Grikwa site. I then designed, on paper, the site as I envisioned
                it with detailed descriptions of most of its functionality. This gave us a framework to work from and
                in June, just after the mid-year examinations, coding commenced. During this time I became familiar with
                some web languages, namely HTML and CSS in order to keep up with all the programming jargon. We would
                meet up every day of the week after work (we all had internships) and further plan the development of
                the site. The June period was more a planning period for the site although coding was done. During
                semester work ceased and we all agreed to pick up where we left off during the summer of 2013. Most of
                the code would indeed be written during the summer of 2013 and a great deal of work was done until the
                end of January 2014.

            </p>

</div>
    </div>
</div>