
<div class="col-sm-7">
    <div class="row">
        <div class="col col-sm-12">

            @{
                ViewBag.Title = "About";
            }
            <h2>The grikwa team</h2>



            <p>
                What is it?
                People don’t have time to stop and look at the noticeboards anymore; most of the information on there is lost to many. To answer the question on what Grikwa is, it was explained that one would have to imagine an institution exclusive website with all the information which would usually be found on physical noticeboards. Grikwa was created by three UCT undergraduates as an online solution to the problems associated with ancient noticeboards. Julian Nkuna (Bsc. Geomatics), Masilo Mapaila and Martin Nkala (both third year Bsc. Computer Science majors) started working on the site in June 2013 after Julian approached the two with the idea for a centralized online noticeboard for institutions.
                Effectively, Grikwa is a universal institution-exclusive online noticeboards which helps members of an institution such as a university share resources and information for free in one centralized platform. The first functional version of Grikwa was launched for UCT members in February 2014 and received great success with a large number of UCT students having bought and sold academic resources such as second hand textbooks on the site.

            </p>
            <p>
            The developers of grikwa continue to work on the site to improve the functionality in order for the site to become more user-friendly
            </p>

</div>
    </div>
</div>