@model IEnumerable<Grikwa.Models.InstitutionViewModel>

@{
    ViewBag.Title = "Select Institution Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="space-10"></div>
<div class="widget-header widget-header-small green">
    <h6>
        Please select your Institution
    </h6>
</div>

<div class="body-content">
    @foreach (var institution in Model)
    {
        <div class="col-md-3">
            <a href="@Url.Action("Institution", "Store", new { name = institution.Code })"><span style="width:200px;" class="community">@institution.Name</span></a>
        </div>
    }
</div>
<br />
@section scripts{
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/circletype.js"></script>
    <script>
        $(".community").circleType({ radius: 80 });
    </script>
}