@model IEnumerable<Grikwa.Models.InstitutionViewModel>

@{
    ViewBag.Title = "Select Institution Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center community-list">
    @foreach (var institution in Model)
    {
        <div class="col-md-3 community-item">
            <a href="@Url.Action("Institution", "Store", new { name = institution.Code })"><span class="community">@institution.Name</span></a>
        </div>
    }
    
</div>
@section scripts{
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/circletype.js"></script>
    <script>
        $(".community").circleType({ radius: 80 });
    </script>
}