<div class="col-sm-7">
    <div class="row">
        <div class="col col-sm-12">
            @{
                ViewBag.Title = "Privacy";
                Layout = "~/Views/Shared/_Layout.cshtml";
            }

            <h2>Privacy</h2>

            <p align="justify">
                At Grikwa we understand the need for theprotection of privacy of our users as provided under the 
                national law of the Republic of South Africa, which is the only jurisdiction Grikwa currently 
                falls under. 
            </p>


            <p align="justify">

                Grikwa.co.za and its related websites, services, applications or tools (Collectively referred 
                to as "Grikwa") believes strongly in protecting the privacy of users of its web site.  It is 
                expected that when you register for services on Grikwa; you may be required to 
                provide Grikwa with some personal information including, but not limited to, the 
                following:
            </p>

            <p>
                <ul>

                    <li>Your initials and last name</li>
                    <li>Institution e-mail address</li>
                    <li>Field of study</li>
                    <li>Residence and password</li>
                </ul>

            </p>


            <p align="justify">
                Grikwa is managed by a team of students who understand the importance of privacy online. As such, Grikwa 
                will not sell to any third party your name, address, e-mail address and member name, unless you provide 
                your informed consent, except to the extent necessary to comply with applicable laws, police investigations, 
                or in legal proceedings where such information is relevant. Grikwa allows access to database information 
                by third-parties providing technical services, such as e-mail, but only to the extent necessary to provide
                you with those services. In those instances, the third-party is bound by these terms. Your informed consent 
                shall be in the form of an “opt in” or similar policy. You understand and agree that Grikwa may disclose 
                to third parties, your email, field of study, or/and institution but only in the form of aggregated information.



            </p>
            <p align="justify">
                Grikwa reserves the right to offer you third party services and products based on the preferences 
                that you identify during the registration process and based on your subsequent preferences; such offers may be 
                provided to you by Grikwa.



            </p>
            <p align="justify">

                If you have any questions concerning the privacy policies of Grikwa which are not covered in this 
                statement, please contact us with your questions or use our well-developed FAQ page below. 


            </p>
            <p align="justify">

                This site may contain links to other Web sites and is not responsible for the privacy practices or the content of 
                these Web sites. Furthermore this site uses third-party advertising companies to serve ads when you visit the site.


            </p>
            <p align="justify">

                One of these third-party advertising companies, Google, uses cookies to serve ads on this site. Google’s use of 
                the DART cookie enables it to serve ads to you based on visits to this site and other sites on the Internet. You 
                may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.


            </p>

</div>
    </div>
</div>
