
    <div class="col-sm-7">
        <div class="row">
            <div class="col col-sm-12">
                @{
                    ViewBag.Title = "Terms";
                    Layout = "~/Views/Shared/_Layout.cshtml";
                }

                <h2>Grikwa</h2>


                <p align="justify">
                    
                    We would like to welcome you to the Grikwa store where safe trade is our greatest concern. Grikwa is
                    the first African online store of its nature and complies with the legal requirements of the Republic of
                    South Africa. By accessing www.Grikwa.com and its related websites, services, applications or tools
                    (Collectively referred to as "Grikwa") you are agreeing to the following terms, including those available
                    by hyperlink, which are designed to make sure that Grikwa works for everyone. Grikwa is provided to
                    you by Grikwa.com Limited. These Terms of Use constitute a legally binding agreement between you
                    and Grikwa.com Limited and are effective as of 1st November 2013 for current users, and upon
                    acceptance for new users. You accept these Terms of Use by clicking the "Accept terms and conditions"
                    button when registering a Grikwa account and by otherwise accessing or using the Grikwa websites,
                    services, applications and tools; or as otherwise indicated on a specific site, service, application or tool.
                </p>

                <p align="justify">
                    These Terms and the other policies posted on the Website and its derivatives constitute the complete
                    and exclusive understanding and agreement between you and Grikwa and govern your use of the
                    Service and the Website superseding all prior understandings, proposals, agreements, negotiations, and
                    discussions between the parties, whether written or oral. The Terms and the relationship between you
                    and Grikwa shall be governed by the laws of the Republic of South Africa without regard to its conflict of
                    law principles.
                </p>

                <p align="justify">
                    You and Grikwa agree to submit to the personal and exclusive jurisdiction of the courts located within
                    the Republic of South Africa. The failure of Grikwa to exercise or enforce any right or provision of the                     Terms shall not constitute a waiver of such right or provision. If any provision of the Terms is found by a<br>
                    court of competent jurisdiction to be invalid or inapplicable, the parties nevertheless agree that the
                    court should endeavor to give effect to the parties' intentions as reflected in the provision. If any
                    provision or provisions of these Terms is held to be invalid, illegal or unenforceable, the validity, legality
                    and enforceability of the remaining provisions of the Terms shall not in any way be affected or be impaired.
                </p>

                <h2>Content on Grikwa</h2>
                <p align="justify">
                    Grikwa contains content from the Grikwa administrative team and its users. Grikwa is protected by
                    copyright laws and international treaties. Content displayed on or via Grikwa is protected as a collective
                    work and/or compilation, pursuant to copyrights laws and international conventions. You agree not to
                    copy, distribute or modify content from Grikwa without our express written consent. You may not
                    disassemble or decompile, reverse engineer or otherwise attempt to discover any source code
                    contained in Grikwa. Without limiting the foregoing, you agree not to reproduce, copy, sell, resell, or
                    exploit for any purposes any aspect of Grikwa (other than your own content). When you give us content,
                    you grant us and represent that you have the right to grant us, a non-exclusive, worldwide, perpetual,
                    irrevocable, royalty-free, sub-licensable (through multiple tiers) right to exercise any and all copyright,
                    publicity, trademarks, design, database and intellectual property rights to that content, in any media
                    whether now know or to be discovered in the future and on all other sites, services, applications and
                    tools that are part of the global eBay community, such as eBay or our classifieds sites in other countries.
                    In addition, you waive all moral rights you have in the content to the fullest extent permitted by law
                </p>

                <h2>Using Grikwa</h2>
                <p align="justify">
                    As a condition of your use of Grikwa (including Grikwa.com and its related websites, services,
                    applications and tools) you agree that you will not:

                </p>
                <ul >
                <li>Post items on the Grikwa store institution site of which you are not directly related or affiliated with </li>
                <li>Use the localized email account of another user to access their profile, otherwise known as a business card, without their consent. </li>
                <li>Post items of an inappropriate nature in the light of academic institutions and public decency</li>
                <li>Distribute spam, chain letters, or promote pyramid schemes;</li>
                <li>Collect information about others, including email addresses, without their consent;</li>
                <li>Infringe any laws any nation or Grikwa itself;</li>
                <li>Infringe the Posting Rules as provided by Grikwa;</li>
                <li>Alter, issue rights or content from the Grikwa site, services, applications or tools or Grikwa's copyrights and trademarks;</li>
                <li>Post any threatening, abusive, defamatory, obscene or indecent material;</li>
                <li>Post or otherwise communicate any false or misleading material or message of any kind;</li>
                <li>Infringe any third-party right;</li>
                <li>Distribute viruses or any other technologies that may harm Grikwa or the interests or property of Grikwa users; </li>
                <li>Impose or contribute to imposing an unreasonable load on our infrastructure or interfere with the proper working of Grikwa; </li>
                <li>Duplicate, amend, or distribute any other person's content without their consent;</li>
                <li>Use any robot spider, scraper or other automated means to access Grikwa and collect content for any purpose without our express written permission;</li>
                <li>Produce or otherwise collect information about users, including email addresses, without their consent</li>
                <li>Bypass measures used to prevent or restrict access to Grikwa;</li>
                <li>Sell any counterfeit items or otherwise infringe the copyright, trademark or other rights of third parties. </li>
                </ul>
                <p align="justify">
                    It should be noted that the user is exclusively responsible for all information that he/she submit to Grikwa and
                    any consequences that may result from the post. We reserve the right at our discretion to refuse or delete content
                    that we believe is inappropriate or breaching the above terms. We also reserve the right at our discretion to restrict
                    a user's usage of Grikwa either temporarily or permanently, or refuse a user's registration. If we believe that you
                    are breaching these Terms of Use in any way and/or behaving suspiciously on the Grikwa websites, services, applications
                    or tools, we may, at our discretion, inform other Grikwa users that have been in contact with you and recommend that
                    they exercise caution.
                </p>

                <h2>The Grikwa Community</h2>
                <p align="justify">
                    Grikwa is primarily a student online environment and to a great degree depends upon the fellowship of the Grikwa community
                    in order to work together to keep the Grikwa websites, services, applications and tools working properly and to keep the
                    institutions of trade and online community safe. It is crucial that the Grikwa administration manage grikwa in a manner
                    which protects its users from all forms of abuse and misuse. Naturally, it follows that we may issue warnings, limit or
                    terminate our service, remove hosted content and take technical and legal steps to keep users off Grikwa if we think that
                    they are creating problems, infringing the rights of third parties or acting inconsistently with the letter or spirit of
                    our policies (including, without limitation, circumventing temporary or permanent suspensions or harassing the Grikwa employees
                    or other users). However, whether we decide to take any of these steps, remove hosted content or keep a user off Grikwa
                    or not, we do not have any obligation to monitor the information transmitted or stored on our sites, services, applications
                    and tools and we do not accept any liability for unauthorized or unlawful content on Grikwa or use of Grikwa by users.
                    Please report problems, offensive content and policy breaches to the Grikwa administrators through the information provided
                    under “contact us”.
                </p>
                <h2>PAYMENT SERVICES & OTHER SPECIAL SERVICES</h2>

                <p align="justify">
                    Grikwa in its most primate and natural form is a free service offered to exclusive institutions for safe and real time trade.
                    However, there are special instances whereby users may be charged for a special service such as web advertisements.
                    If the service you use incurs a fee, the payment and agreement will be dealt with outside of the scope of the online page
                    but directly with the managers of Grikwa.com pty(ltd). Our fees are generally dealt with upon request of any of the special
                    services and will be dealt with outside of the scope of this site. We'll notify you of changes to our fee policy by posting
                    such changes on the Grikwa website. We may choose to temporarily change our fees for promotional events or new services; these
                    changes are effective when we announce the promotional event or new service.
                </p>

                <p align="justify">
                    You are responsible for paying the Grikwa fees when they're due.  This will usually be done electrionically even if it not be
                    online. This may also be done in hard cash to the direct 	Grikwa administrators. If you don't pay within the arranged time
                    as agreed with the admins verbally or under a contract, without prejudice to any other right or remedy we may be entitled to
                    under these Terms of Use or by law of the Republic of South Africa , we may limit your ability to use the services or discontinue
                    any services completely. If your payment method fails or your account is past due, we may collect fees owed using other collection
                    mechanisms such as collateral.

                </p>

                <p align="justify">
                    You acknowledge that your advertisements may be deleted from the Grikwa sites, services, applications or tools in case we believe
                    these Terms of Use, including our Posting Rules, are breached, either directly or indirectly. In case you would have paid a fee
                    for the display of such ad, you may be entitled to a refund of such fee. However, we reserve the right not to refund the Grikwa
                    users for any fees paid through use of our sites, services, applications and tools in the following cases:
                </p>

                <ul>
                <li>If you breach, in our opinion, these Terms of Use, which include, without limitation, the Posting Rules;</li>
                <li>
                    If your ads went live with exposure on the Grikwa sites, services, applications or tools, even for a limited
                    time, and that they benefited from the service associated with the paid fee;<br>
                </li>
                <li>If you have removed your ads yourself;</li>
                <li>If you post duplicate ads as defined in our rules regarding duplicate ads;</li>
</ul>
                <h2>LIMITATIONS OF LIABILITY</h2>

                <p align="justify">
                    It should be noted that Grikwa.com is a legal person and as such its administrators ,directors, employees,
                    or agents, will never be liable for direct, indirect, incidental, special, consequential or exemplary
                    damages (even if  Grikwa has been warned of the possibility of such damages), resulting from any aspect of
                    your use of the website or the service, including without limitation whether the damages arise from use or
                    misuse of the website or the service, from inability to use the website or the service, or the interruption,
                    suspension, modification, alteration, or termination of the website or the service. Such limitation of liability
                    shall also apply with respect to damages incurred by reason of other services or products received through or
                    advertised in connection with the website or the service or any links on the website, as well as by reason of
                    any information, opinions or advice received through or advertised in connection with the website or the service
                    or any links on the Grikwa site. These limitations shall apply to the fullest extent permitted by law. You
                    specifically acknowledge and agree that Grikwa shall not be liable for user submissions or the defamatory,
                    offensive, or illegal conduct of any user or third party and that the risk of harm or damage from the foregoing
                    rests entirely with you. The website is controlled and offered by the administrators of Grikwa from its facilities
                    in the Republic of South Africa.  Grikwa makes no representations or warranties that the website is appropriate
                    for use in other locations. Those who access or use the website from other jurisdictions do so at their own volition
                    and risk and are responsible for compliance with local law. Grikwa is in compliance with the law of the republic of
                    South Africa and no other jurisdiction. As such, Grikwa will hold no legal responsibility or/and accountability as
                    provided under any jurisdiction of its users outside of the Republic of South Africa.
                </p>
                <h2>ABILITY TO ACCEPT TERMS OF SERVICE</h2>

                <p align="justify">
                    This Website is intended only for members of the specified institutions which they will have a legal membership/affiliation
                    with. This includes but is not exhaustive to students, lectures, staff members of an institution and any other directly
                    affiliated party with the institution. You affirm that you are either more than 18 years of age, or an emancipated minor,
                    or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions,
                    obligations, affirmations, representations, and warranties set forth in these Terms, and to abide by and comply with these
                    Terms.  Children as defined by the Republic of South Africa will not be allowed on the site.

                </p>


</div>
            </div>
        </div>
    


