
@{
    ViewBag.Title = "Post Advert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Post An Advert</h1>
<h4>What are your intentions?</h4>
<hr />
<div class="center community-list">
    <h2><a href="@Url.Action("Sell","NoticeBoard")">Sell Something</a></h2>
    <h2><a href="@Url.Action("Notify","NoticeBoard")">Promote Something</a></h2>
</div>