<div class="col-sm-10">
    <div class="widget-box ">
        <div class="widget-header">
            <h4 class="lighter smaller">
                <i class="icon-comment blue"></i>
                Conversation
            </h4>
            <h4 id="roomProductList" class="lighter smaller">
            </h4>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <div id="chatWindow" class="dialogs">

                </div>
                <form id="chatForm">
                    <div class="form-actions">
                        <div class="input-group">
                            <input id="messageTextBox" placeholder="Type your message here ..." type="text" class="form-control input-xlarge" />
                            <span class="input-group-btn">
                                <button id="sendButton" class="btn btn-sm btn-info no-radius" type="button">
                                    <i class="icon-share-alt"></i>
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div><!-- /widget-main -->
        </div><!-- /widget-body -->
    </div><!-- /widget-box -->
</div><!-- /span -->
							