<div class="col-xs-4 col-sm-3 pricing-box">
    <div class="widget-box">
        <div class="widget-header header-color-purple">
            <h6 class="lighter">Product Name</h6>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row-fluid">

                   
                          <img @*width="150" height="150"*@ class="img-thumbnail img-responsive" src="/Images/gallery/image-1.jpg" alt="product image">

                    <ul class="list-unstyled">
                        <li>
                            Posted by: Title name surname
                        </li>
                        <li>
                            Posted at 11:11
                        </li>
                        <li>
                            ShortDescription
                        </li>
                        <li>
                            More info...
                        </li>
                    </ul>
                </div>
                <hr />
                <div class="price">
                    Price
                </div>
                <hr />
                <div style="background-color:red;" class="price">
                    Sold
                </div>
            </div>

            
        </div>
    </div>
</div>
