
<ul id="sidebar" class="nav nav-list">
    <li class="active open">
        <a href="#" class="dropdown-toggle">
            <i class="icon-user"></i>
            <span class="menu-text"> Students </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu" id="chatUserList">
        </ul>
    </li>
</ul>
