body {
    padding-bottom: 20px;
}

h1, h2, h3{
    font-family:Abel;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.bottom-nav {
    width: 100%;
    background-color: #68217a;
    overflow: hidden;
}

    .bottom-nav div {
        float: left;
        margin: 0 1em 0 1em;
        width: 30%;
        list-style: none;
    }

        .bottom-nav div ul {
            list-style: none;
            text-decoration: none;
        }

#img_logo {
    background: no-repeat top left;
    display: block;
    width: 250px;
    height: 100px;
}

#footer-bottom {
    padding-top:20px;
    text-align: center;
    color: black;
    bottom: 0;
}

.university-icon{
    background-size: 50px 50px;
}

.community-list{
    margin-top:6%;
}

.community-item{
    padding:10px;
}

.account-menu{
    margin-top:15px;
}

    .account-menu > a:hover{
        color:#68217a;
    }

.form-checkbox{
    width:35px;
}

.btn-post-ad{
    width:100%;
}

.advert-thumbnail{
    padding:0px !important;
    border-radius:0px !important;
    max-height: 100% !important;
    height: auto;
}

.advert-body{
    padding:4px;
}

.details-box{
    left:30%;
}

.btn-purple{
    background-color:#438eb9 !important;
    border-color: #438eb9 !important;
}

.header-color-purple{
    background-color:#438eb9 !important;
    border-color: #438eb9 !important;
}

.advert > :first-child > .text {
  position: absolute;
  right: 7px;
  left: 7px;
  bottom: 5px;
  top: 5px;
  text-align: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.advert > :first-child > .text:before {
  /* makes the inner text become vertically centered*/

  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
  /* Adjusts for spacing */

}
.advert > :first-child > .text > .inner {
  padding: 4px 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
}
.advert:hover > :first-child > .text {
  opacity: 1;
  filter: alpha(opacity=100);
}

.advert-price{
    color:#FFF !important;
}

.weblink{
    width: 100px;
  white-space: nowrap;
  overflow: hidden;
    text-overflow:ellipsis;
}